$PlainsGreen: #acebc2;
$MeadowGreen: #9ce5c2;
$GrassGreen: #9ae3c0;
$ForestGreen: #36a173;
$BeachYellow: #f6edcc;
$SandyTan: #f4eee5;
$BackgroundGrey: #f5f2f3;
$RoadGrey: #d6dee7;
$HighwayGrey: #8ba4c2;
$PavementGrey: #e7ecf6;
$CulturePurple: #b168ff;
$TransportBlue: #2072e1;
$TravelPink: #ff3cc3;
$HealthRed: #ff3e57;
$DarkHealthRed: #d93646;
$DiningOrange: #ff7d11;
$WaterBlue: #90d9ed;
$DirtBrown: #6a5c44;
$TextBlack: #2a2c32;
$TextWhite: #fffef6;
