@use '../assets/Constants.scss' as *;

#crx-sidebar-replace {
  .crx-test-buttons {
    padding: 5% 0;
    display: flex;
    width: 100%;
    gap: 8%;
    box-sizing: border-box;

    button {
      padding: 8px 12px;
      background-color: $ForestGreen;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      width: 100%;

      &:hover {
        background-color: $GrassGreen;
        color: $TextBlack;
      }

      &#world-annihilator-button {
        background-color: $HealthRed;
        &:hover {
          background-color: $DarkHealthRed;
          color: $TextWhite;
        }
      }
    }
  }
}
