@use '../assets/Constants.scss' as *;

#crx-sidebar-manager {
    position: fixed;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 300px;
    height: 100vh;
    transform: none;
    background-color: $BackgroundWhite;
}
