@use '../assets/Constants.scss' as *;

#crx-sidebar-manager {
    position: fixed;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    left: 0;
    top: 0;
    pointer-events: none;
    width: 407.995px;
    height: 100vh;
    transform: matrix(1, 0, 0, 1, -407.995, 0);
    transition:
        transform 0.2s cubic-bezier(0, 0, 0.2, 1),
        opacity 0.2s cubic-bezier(0, 0, 0.2, 1),
        -webkit-transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    background-color: $BackgroundWhite;
}
